.app-background {
  position: relative;
  background: black;
  overflow: hidden;
}

.routes-container {
  position: relative;
  width: 100%;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.logo {
  position: absolute;
  filter: blur(4px); 
  transition: filter 0.5s ease, transform 0.5s ease; /* Improved transition */
}

.logo:hover {
  filter: none;
}

.logo img {
  position: relative;
  cursor: pointer;
  width: 100px;
  object-fit: cover;
  border: solid transparent 2px;
  border-radius: 50%;
  padding: 0;
  animation: animateBounce 3s ease-in-out infinite alternate;
  transition: border 0.5s ease, padding 0.5s ease, transform 0.5s ease; /* Improved transition */
}

.logo img:hover {
  border: solid white 2px;
  padding: 10px;
  transform: scale(1.1); /* Add scaling effect on hover */
}

@keyframes animateBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.group:hover .logo-name {
  display: block;
}
